{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}<br><br>

<div class="container" >
    <img src="https://www.underconsideration.com/brandnew/archives/awwwards_logo.png" alt="awwwards" height="250"><br>
  <h1 class="text-center" style="background-color:darkcyan"><strong>Projects</strong></h1><br>
  <div class="jumbotron" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKWGhLYdpxI9f7PmIUZ8VMeKSVwsvBpaVLPJmDQjLcx4q2KyPaWQ'); background-repeat: no-repeat; background-size: cover;">
  <div class="row">
  <!-- Projects are displayed here -->
  
  
    {% for project in projects %}
    <div class="col-md-6">
    <h3 style="margin-left:15%">{{project.project_title}}</h3>
    <img src="{{project.landing_page.url}}" alt="" height="400" width="400" style="border-radius:50px"><br><br>
    <button type="button" class="btn btn-outline-success">
    <a href="{% url 'project' project.pk %}" class="btn">See More</a></button>
    <p>Project link: <a target="_blank" href="{{project.live_site}}">{{project.live_site}}</a> </p>
    <ul>
      <li>Design: {{project.design}}</li>
      <li>Usability: {{project.usability}}</li>
      <li>Content: {{project.content}}</li>
    </ul>
    <p class=>By: <span>{{project.user.username}}</span></p>
  
  </div>

    {% endfor %}
  </div>
  </div>

</div>
{% endblock %}
